apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    address-pools:
    - name: single-ip
      protocol: layer2
      addresses:
      - 192.168.1.200-192.168.1.200
